<div class="container">
    <div class="row">
        <div   *ngFor='let i of x' class="col-lg-4">
            <div class="bg-info text-light">
                <h1>user name : {{i.name}}</h1>
                <h4>user age : {{i.age}}</h4>
                <h4>{{i.dob}}</h4>
                <h4>{{i.gender}}</h4>
                <h4>{{i.salary}}</h4>

            </div>
        </div>
    </div>
</div>
