<nav class="navbar navbar-expand-sm navbar-dark shadow">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           
            <li   class="nav-item">
                <a class="nav-link"   routerLink='products'  routerLinkActive='bg-danger'  >products</a>
            </li>
            <li   *ngIf='isLogin' class="nav-item">
                <a class="nav-link"   routerLink='home'  routerLinkActive='bg-danger'  >home</a>
            </li>
            <li *ngIf='isLogin' class="nav-item">
                <a class="nav-link"   routerLink='about' routerLinkActive='bg-danger'  >about</a>
            </li>
            <li *ngIf='isLogin' class="nav-item">
                <a class="nav-link"   routerLink='blog' routerLinkActive='bg-danger'  >blog</a>
            </li>
            <li *ngIf='isLogin' class="nav-item">
                <a class="nav-link"   routerLink='movies' routerLinkActive='bg-danger'  >movies</a>
            </li>
            <li  *ngIf='!isLogin' class="nav-item">
                <a class="nav-link"   routerLink='register' routerLinkActive='bg-danger'  >register</a>
            </li>
            <li  *ngIf='!isLogin' class="nav-item">
                <a class="nav-link"   routerLink='login' routerLinkActive='bg-danger'  >login</a>
            </li>
         
           
        </ul>


        <h3 class="nav-link ms-auto"   (click)='logOut()'  routerLink='login' routerLinkActive='bg-danger'  >logOut</h3>



        
    </div>
</nav>