<div class="container">
    <h1>login form</h1>

    <!-- <h2 class="text-danger">{{msg?.message}}</h2> -->
    
    <h2  *ngIf='msg' class="text-danger">{{msg?.message}}</h2>


    <form   [formGroup]='loginForm'    (ngSubmit) = 'login(loginForm)'    >
        <label for="">email:</label>
        <input    formControlName="email"  class="form-control mb-3" type="text">
        <label for="">password:</label>
        <input    formControlName="password"  class="form-control mb-3" type="text">


        <button   class="btn btn-info" >login</button>

    </form>
</div>