<p>parent works!</p> 


<!-- //nested component -->


<!-- <app-child     (eventEmmiter in child)='funcInParent($event:shail el emit value)'      [proprty of child]='prop in parent'></app-child> -->


<div *ngFor='let p of productList'>
    {{p.productName}}
</div>



<app-child  (productDetails)=' makeProductList($event)'     [container]='parentName'   ></app-child>













<!-- from child to parent  -->


<!-- parent to child -->

<!-- @input()  


@output() -->


<!-- 
<div  class="parent">
    <div  class="child"></div>
</div> -->