<!-- <app-home></app-home>
<app-about></app-about>
<app-blog></app-blog> -->
<!-- 
<app-navbar></app-navbar>

<router-outlet></router-outlet> -->
<!-- <app-register></app-register> -->


<!-- <app-parent></app-parent> -->



<app-navbar></app-navbar>

<router-outlet></router-outlet> 

<!-- <app-movies></app-movies> -->


<!-- pipe function (bult in pipe - custome pipe) -->

