<div class="container">
  <h1 id="test" class="bg-danger">now playing movies</h1>

  <div class="owl-carousel owl-theme">
    <div>Your Content</div>
    <div>Your Content</div>
    <div>Your Content</div>
    <div>Your Content</div>
    <div>Your Content</div>
    <div>Your Content</div>
    <div>Your Content</div>
  </div>


  <h2>page: {{currentPage}}</h2>
  <ul class="d-flex text-dark w-75 justify-content-between bg-info list-unstyled">
    <li  (click)='  getPrev()' >prev</li>
    <li  (click)='changePage($event)' > 1</li>
    <li (click)='changePage($event)'> 2</li>
    <li (click)='changePage($event)'> 3</li>
    <li  (click)='changePage($event)'> 4</li>
    <li (click)='changePage($event)'> 5</li>
    <li  (click)='getNext()'> next</li>
  </ul>

  <input
    placeholder="search ....."
    [(ngModel)]="klma"
    type="text"
    class="form-control w-50 mb-5 mx-auto"
  />

  <h1>{{ klma }}</h1>

  <div class="row">
    <div class="col-lg-4">
      <div>
        <h1 class="mt-5">
          trending <br />
          movies <br />
          to watch now
        </h1>
      </div>
    </div>

    <!-- <h1>{{obj|json}}</h1> -->



 <ng-container *ngIf='moviesarray' >

    <h1  class="bg-danger text-center"  *ngIf='( moviesarray | search: klma).length == 0'>no data</h1>
 </ng-container>
 
      

    <div  *ngFor="let movie of moviesarray | search: klma" class="col-lg-2">
      <div class="">
        <img
          [routerLink]="['/moviedetails', movie.id, movie.title]"
          *ngIf="movie.poster_path != null; else dummyimg"
          [src]="imgSrc + movie.poster_path"
          class="w-100"
          alt=""
        />

        <!-- <img    *ngIf='movie.poster_path == null' src="../../assets/movies.jpg" class="w-100" alt=""> -->

        <h2>{{ movie.title | recommend }}</h2>
        <p>{{ movie.id | currency }}</p>
        <p>{{ movie.overview | seemore: 20 }}</p>
      </div>
    </div>




  </div>
</div>

<ng-template #dummyimg>
  <img src="../../assets/movies.jpg" class="w-100" alt="" />
</ng-template>


<!-- 
development 


production -->