<div class="container">
    <div *ngIf='movieObject'  class="row">
        <div class="col-md-6">
            <div>
                <img [src]="'https://image.tmdb.org/t/p/w500'+movieObject.poster_path" class="w-50" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h1>{{movieObject.title}}</h1>
                <p>release_date : {{movieObject.release_date}}</p>
                <p>vote_count : {{movieObject.vote_count}}</p>
                <p>vote_average : {{movieObject.vote_average}}</p>
                <p>overview : {{movieObject.overview}}</p>
                <span class="btn btn-info m-2" *ngFor='let g of movieObject.genres'> {{g.name}}</span>
              
            </div>
        </div>
    </div>
</div>

<!-- 9:15 -->

@input @outPut  

sass 

lazyloading - pipe (searech)

production >> hosting

//xd


<!-- 8:45 -->
