<p>child works!</p>


<h1>the name from  parent component is {{container}}</h1>



<label for="">product name:</label>
<input type="text"  [(ngModel)]="productName">
<label for="">product model:</label>
<input type="text"  [(ngModel)]="productModel">

<button   (click)="setProduct()" class="btn btn-info">click from child</button>
