/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

body{
    background-color: #131722;
    color: white;
    font-family: 'Montserrat Alternates';
}
/* img{
    height: 200px;
} */