
<table class="table">
    <thead>
       
            <th>name:</th>
            <th>age</th>
            <th>salary</th>
            <th>dob</th>
            <th>gender</th>
      
    </thead>
    <tbody>
        <tr  *ngFor='let user of  usersArray' >
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.salary}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.gender}}</td>
            <td><button    (click)="user.welcome()" class="btn btn-danger">click</button></td>
        </tr>
       
    </tbody>
</table>