
<div class="container">

    <h1>registeration form:</h1>

    <h2 class="text-danger">{{msg}}</h2>

<form   [formGroup]="registerForm"    (ngSubmit)='getData(registerForm)' >

    <label for="">first_name:</label>

    <input formControlName="first_name" type="text" class="form-control mb-3">

    <div    *ngIf='registerForm.controls.first_name.invalid   &&  registerForm.controls.first_name.touched ' class="alert alert-danger" role="alert">
        <strong>fisrt name invalid  : {{registerForm.controls.first_name.errors|json}}</strong>
    </div>


    <label for="">last_name:</label>

    <input  formControlName="last_name" type="text" class="form-control mb-3">

    <div    *ngIf='registerForm.controls.last_name.invalid   &&  registerForm.controls.last_name.touched ' class="alert alert-danger" role="alert">
        <strong>last name invalid  : {{registerForm.controls.last_name.errors|json}}</strong>
    </div>

    <label for="">age:</label>

    <input   formControlName="age" type="text" class="form-control mb-3">
    
    <div    *ngIf='registerForm.controls.age.invalid   &&  registerForm.controls.age.touched ' class="alert alert-danger" role="alert">
        <strong>age invalid  : {{registerForm.controls.age.errors|json}}</strong>
    </div>

    <label for="">email:</label>

    <input   formControlName="email" type="text" class="form-control mb-3">
    
    <div    *ngIf='registerForm.controls.email.invalid   &&  registerForm.controls.email.touched ' class="alert alert-danger" role="alert">
        <strong>email invalid  : {{registerForm.controls.email.errors|json}}</strong>
    </div>


    <label for="">password:</label>

    <input   formControlName="password" type="text" class="form-control mb-3">

    <div    *ngIf='registerForm.controls.password.invalid   &&  registerForm.controls.password.touched ' class="alert alert-danger" role="alert">
        <strong>password invalid  : {{registerForm.controls.password.errors|json}}</strong>
    </div>




    <!-- <button   [disabled]='registerForm.invalid && registerForm.touched  '    class="btn btn-info">Register</button> -->
    <button      class="btn btn-info">Register</button>

</form>


</div>